body {
    /*transparencia na imagem do background*/


    /*background: url("assets/Fundo-share.jpeg") no-repeat fixed;*/
    /*gradient color*/
    background: white;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.botaoFechar {
    /*laranja*/
    background-color: #ec730f;
    border: none;
    color: white;
    padding: 0.5em 1em;
    margin-top: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

.botaoFechar:hover {
    background-color: #ffaa00;
    color: #fff;
}

.card {
    margin-top: 1rem;
    /*sombra*/
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
    border-radius: 0.5em;
}

#ProtocoloGerenciado {
    color: black;
}

#PanoramaClinico {
    color: black;
}

#ProntoAtendimento {
    color: black;
}

#ProcessoCirurgico {
    color: black;
}

#LinkedData {
    color: black;
}

#ProtocoloSepse {
    color: black;
}

.titulo {
    color: #05347a;
    margin-top: 1em;

}

.catalogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

/*responsividade 2 colunas*/
@media (max-width: 1200px) {
    .catalogo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: end;
    }
}

/*responsividade 1 coluna*/
@media (max-width: 859px) {
    .catalogo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }
}

/*minimo da tela*/
@media (max-width: 420px) {
    .catalogo {
        flex-direction: column;
        justify-content: space-around;

    }
}

/*Editando linkvendas*/
#linkvendas {
    color: #05347a;
    margin-top: 1.4em;
    margin-left: .1em;
    /*sublinhar*/
    text-decoration: underline;
}


footer {
    background-color: #05347a;
    color: #fff;
    padding: 1em;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social_list {

    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-direction: row;
    margin-bottom: 1em;
}

.social_list i {
    cursor: pointer;
    font-size: 1.5em;
    margin: 0 1em;
}

.facebook {
    border: 1px solid #6286e0;
    border-radius: 5px;
}

.facebook a {
    color: #ffffff;
}

.facebook a:hover {
    color: #6286e0;
    /*quadrado ao redor*/

}

.youtube {
    border: 1px solid #FF0000;
    border-radius: 5px;
}

.youtube a {
    color: #ffffff;
}

.youtube a:hover {
    color: #FF0000;
}

.instagram {
    border: 1px solid #e1306c;
    border-radius: 5px;
}

.instagram a {
    color: #ffffff;
}

.instagram a:hover {
    color: #e1306c;
}

.copy {
    margin-top: 2em;
}

.copy span {
    font-weight: bold;
    color: #FFBB33;
}

.navbar {
    background-color: #05347a;
    color: #fff;
    padding: 1em;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}