body {
    background: url("assets/Fundo-share.jpeg") no-repeat fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.card {
    margin-top: 1rem;
}

#ProtocoloGerenciado {
    color: black;
}

#PanoramaClinico {
    color: black;
}

#ProntoAtendimento {
    color: black;
}

#ProcessoCirurgico {
    color: black;
}

#LinkedData {
    color: black;
}

#ProtocoloSepse {
    color: black;
}

#titulo {
    margin-top: 1.4em;

}

.catalogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

/*responsividade 2 colunas*/
@media (max-width: 1198px) {
    .catalogo {
        flex-direction: row;
    }
}

/*responsividade 1 coluna*/
@media (max-width: 766px) {
    .catalogo {
        flex-direction: column;
    }
}

/*minimo da tela*/
@media (max-width: 420px) {
    .catalogo {
        flex-direction: column;
    }
}

/*Editando linkvendas*/
#linkvendas {
    color: #fff;
    margin-top: 1.4em;
    margin-left: .1em;
    /*sublinhar*/
    text-decoration: underline;
}